@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #DAE2E4;
}

@media (min-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

.container {
    height: 100vh;
    background: whitesmoke;
}

div.logo {
    color: whitesmoke;
    width: 50px;
    height: 50px;
    background: #FF8872;
    border: 5px solid #5D4E7B;
    border-radius: 50%;
    margin-left: 35px;
}

.square {
    width: 40px;
    height: 40px;
}

.grey-border {
    border: 1px solid #dfe6e8;
}

.round-corner-small {
    border-radius: 6px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.purple-color {
    color: purple;
}

.grey-color {
    color: #DBE3E5;
}

.white-color {
    color: whitesmoke;
}

.grey-color-2 {
    color: #BAC2C4;
}

.orange-bg-color {
    background: #FF8872;
}

.light-purple-bg-color {
    background: #F1F0F3;
}

.purple-bg-color {
    background: purple;
}

i.notification {
    position: relative;
}

i.notification::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF8872;
    position: absolute;
    top: 0px;
    right: 23px;
}